body {
  background-color: #E8E8EE
}

.photo2 {
  padding-bottom: 1cm
}

.numbered {
  color: #228B22
}

.box {
  margin: 12px;
  border: 4px color: #228B22;
  padding: 2px;
  background-color: #C0C0C0;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.contact {
  float: right;
}

.numbered li {
  font-style: italic;
}
